* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space mono", serif;
}

:root {
    --green-100: #f3f9fa:
    --green-200: #c5e4e7:
    --green-300: #9ebbbd:
    --green-400: #7f9d9f:
    --green-500: #5e7a70: 
    --green-600: #547878:
    --green-700: #306665:
    --green-800: #004748:
    --light-green: #26c2ae:
    --white: #ffffff:
}

body {
    background-color: var(--green-200);
}

header {
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main {
    background-color: var(--white);
    padding: 2rem;
}

.conta label {
    color: var(--green-500);
    font-weight: 700;
}

.conta div {
    margin-top: 0.4rem;
    background-color: var(--green-100);
}